<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Emot/biaoqing_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,612},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Emot/biaoqing_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,612},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Emot/biaoqing_1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,612},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Emot/biaoqing_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{224,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,205}</string>
			</dict>
			<key>Emot/biaoqing_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,1},{224,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,205}</string>
			</dict>
			<key>Emot/biaoqing_2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,1},{224,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,205}</string>
			</dict>
			<key>Emot/biaoqing_2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,1},{224,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,205}</string>
			</dict>
			<key>Emot/biaoqing_2_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,1},{224,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,205}</string>
			</dict>
			<key>Emot/biaoqing_2_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1131,1},{224,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,205}</string>
			</dict>
			<key>Emot/biaoqing_2_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1357,1},{224,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,205}</string>
			</dict>
			<key>Emot/biaoqing_2_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1583,1},{224,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,205}</string>
			</dict>
			<key>Emot/biaoqing_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1217,612},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Emot/biaoqing_3_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1419,612},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Emot/biaoqing_3_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1621,809},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Emot/biaoqing_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1823,809},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Emot/biaoqing_3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,814},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Emot/biaoqing_3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,821},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Emot/biaoqing_3_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,814},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Emot/biaoqing_3_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,814},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Emot/biaoqing_3_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,814},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Emot/biaoqing_3_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,814},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Emot/biaoqing_3_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1213,814},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Emot/biaoqing_4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,410},{202,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,200}</string>
			</dict>
			<key>Emot/biaoqing_4_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,410},{202,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,200}</string>
			</dict>
			<key>Emot/biaoqing_4_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,410},{202,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,200}</string>
			</dict>
			<key>Emot/biaoqing_4_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,410},{202,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,200}</string>
			</dict>
			<key>Emot/biaoqing_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,410},{202,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,200}</string>
			</dict>
			<key>Emot/biaoqing_4_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1223,410},{202,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,200}</string>
			</dict>
			<key>Emot/biaoqing_4_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1427,410},{202,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,200}</string>
			</dict>
			<key>Emot/biaoqing_4_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1631,607},{202,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,200}</string>
			</dict>
			<key>Emot/biaoqing_4_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1835,607},{202,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,200}</string>
			</dict>
			<key>Emot/biaoqing_4_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,612},{202,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,200}</string>
			</dict>
			<key>Emot/biaoqing_4_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,617},{202,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{202,200}</string>
			</dict>
			<key>Emot/biaoqing_4_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,612},{202,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,200}</string>
			</dict>
			<key>Emot/biaoqing_5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1415,814},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Emot/biaoqing_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1617,1011},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Emot/biaoqing_5_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1819,1011},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Emot/biaoqing_5_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,1016},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Emot/biaoqing_5_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1023},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Emot/biaoqing_5_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1016},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Emot/biaoqing_6_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,1016},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Emot/biaoqing_6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,1016},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Emot/biaoqing_7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,1016},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Emot/biaoqing_7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1213,1016},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Emot/biaoqing_7_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1415,1016},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Emot/biaoqing_7_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1617,1213},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Emot/biaoqing_7_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1819,1213},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Emot/biaoqing_7_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,1218},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Emot/biaoqing_8_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1809,1},{205,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,200}</string>
			</dict>
			<key>Emot/biaoqing_8_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1809,203},{205,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,200}</string>
			</dict>
			<key>Emot/biaoqing_8_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,208},{205,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,200}</string>
			</dict>
			<key>Emot/biaoqing_8_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,208},{205,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,200}</string>
			</dict>
			<key>Emot/biaoqing_8_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,208},{205,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,200}</string>
			</dict>
			<key>Emot/biaoqing_8_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,208},{205,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,200}</string>
			</dict>
			<key>Emot/biaoqing_8_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,208},{205,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,200}</string>
			</dict>
			<key>Emot/biaoqing_8_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1036,208},{205,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,200}</string>
			</dict>
			<key>Emot/biaoqing_8_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1243,208},{205,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,200}</string>
			</dict>
			<key>Emot/biaoqing_8_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1450,208},{205,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,200}</string>
			</dict>
			<key>Emot/biaoqing_8_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1657,405},{205,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,200}</string>
			</dict>
			<key>Emot/biaoqing_8_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,410},{205,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{205,200}</string>
			</dict>
			<key>Emot/biaoqing_9_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1225},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Emot/biaoqing_9_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1218},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Emot/biaoqing_9_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,1218},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Emot/biaoqing_9_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,1218},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Emot/biaoqing_9_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,1218},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>biaoqing.png</string>
			<key>realTextureFileName</key>
			<string>biaoqing.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>